{{> head }}
    <body class="index">
    {{> nav }}  
    <div class="container">
        <div class="row">
            <div class="col c4">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p> 
                <ul>
                {{#each this.posts }}
                    <li>{{lookup (lookup @root.dynamic.posts @index) 'title'}}</li> 
                {{/each}} 
                </ul>
            </div>
        </div> 
    </div>
{{> foot }}  