{{> head }}
    <body class="index">
    {{> nav }}  
    <div class="container">
        <div class="row">
            <div class="col c4">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p> 
                <ul>
                {{#each this.posts }}
                <!-- TODO: get @index to resolve (need to use a helper function) -->
                    <li>{{capitalize @root.posts.posts.[0].title }}</li> 
                {{/each}} 
                </ul> 
            </div>
        </div> 
    </div>
{{> foot }}