<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="manifest" href="manifest.json">
        <title>BetaCodes</title>

        <meta name="description" content="The poetry and code of Prophesi">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Poeticodes">
        <meta name="apple-mobile-web-app-title" content="Poeticodes">
        <meta name="theme-color" content="#9ABFCB">
        <meta name="msapplication-navbutton-color" content="#9ABFCB">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="msapplication-starturl" content="/index.html">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" sizes="192x192" href="imgs/poeticon.png">
        <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="imgs/poeticon.png">

        <link rel="stylesheet" href="{{site.root}}css/style.min.css"> 
    </head> 
    <body class="{{ bodyClass }}" id="content" data-body="{{ bodyClass }}">