<div class="row">
    <div class="col c4">	&ensp; </div>
    <div class="col c4">
        <h2 class="heading--no-padding-bottom">Setlist:</h2>
    </div>
    <div class="col c4">	&ensp; </div>
</div>
<div class="row">
    <div class="col c4">	&ensp; </div>
    <div class="col c4">
    <ol>
        {{#each dynamic.poetry }}
            <li><a href="{{../site.root}}poetry/{{ this.slug }}.html">{{ this.title }}</a></li> 
        {{/each}}
    </ol>
    </div>
    <div class="col c4">	&ensp; </div>
</div>