<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col center-cell">
        <h2 class="heading--no-padding-bottom">Setlist:</h2>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col center-cell">
        <ol>
            {{#each dynamic.poetry }}
                <li><a href="{{../site.root}}poetry/{{ this.slug }}.html">{{ this.title }}</a></li> 
            {{/each}}
        </ol>
    </div>
</div> 