.greensock {
    .board { 

    }
}
.box {
    &:hover {
        background: grey;
        color: red;
    }
    float: left;
    background: green;
    height: 10vh;
    outline: 2px solid black;
    text-align: center;
    line-height: 10vh;
    color: green;
    // width: calc(100%/12);
}
.row {
    margin: 0px;
}