body {
    margin: 0px;
} 
.nav, .nav .current, .nav a:hover {
    background: #ef7f3f; 
}
.btn.btn-close {
    background: #ef7f3f;
}
.nav {
    div:before {
        background: #ef7f3f;
    } 
    a { 
        color: #efefef;
    } 
}
h1, h2, h3, {
    &.heading--no-padding-bottom {
        margin-bottom: 0px;
    }
    .btn { 
        a { 
            color: initial;
            text-decoration: none;
        } 
    }
} 