body {
    margin: 0px;
} 

h1, h2, h3, {
    &.heading--no-padding-bottom {
        margin-bottom: 0px;
    }
    .btn { 
        a { 
            color: initial;
            text-decoration: none;
        } 
    }
} 